@import url('https://fonts.googleapis.com/css?family=Monda&display=swap');

body{
	background-color: #E8EAEA;
}

.targeta{
	padding-top:2px;padding-bottom:3px;
}
.nav-menu{
	background-color: white;
}
.nav-menu li a{
	color:black;
	font-family: 'Monda', sans-serif;
}

h3{
	font-family: 'Monda', sans-serif;
}
.acceso a:hover{
	background-color: #D36600;
}

.acceso:hover{
	background-color:#D36600;
}

.nav-menu .acceso a{
	color:white;
}

.acceso{
	color:white;
	background-color: #FF7B00;
	padding-left:40px;
	padding-right:40px;
	/*border-radius: 50px;*/
}

.contenido .busqueda{
	margin-top: 50px; 
}

.contenido h1{
	text-align: center;
	/*font-size: 500px;*/
	font-family: 'Monda', sans-serif;
}

.busqueda{
	height: 50px;
 	 
	background-color: white;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.busqueda:hover{
	background-color: white;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border: 1px solid #FF7B00;
	
	
	/*filter: blur(5px);*/
	transition-delay:0.2s;
}

.busqueda .barra{
	position: relative;
	top: -11px;
	left: 17px;	
}
.busqueda .barra input{
	color:black;
}

.busqueda .buscar a{
	padding-left: 20px;
	padding-right: 40px;
	padding-bottom: 60px;
	background-color: #FF7B00;
	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
	position: relative;
	right:-2px;
	top: -5px;
	bottom: -30px;
}
.busqueda .buscar{
	position: relative;
	right: -20px;
}
.busqueda .buscar a p{
	text-align: center
	font-size:50px;
	font-family: 'Monda', sans-serif;
	position: relative;
	top: 0px;
	left: 10px;
}



.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 26px;
  height: 26px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* label focus color */
  .input-field input:focus + label {
   color: white !important;
 }

 .input-field input{
   text-decoration: none;
 }

 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important
 }

 /* label focus color */
  /* label focus color */
  .proceso .input-field input:focus + label {
  color: black !important;
}

.proceso .input-field input{
  text-decoration: none;
}

/* label underline focus color */
.proceso .row .input-field input:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important
}